<div class="card">
    <p-table class="tableProd" [value]="produtos" [reorderableColumns]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Produtos
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome" /></th>
                <th pSortableColumn="quantidade">Quantidade <p-sortIcon field="quantidade" /></th>
                <th pSortableColumn="preco">Preço <p-sortIcon field="preco" /></th>
                <th pSortableColumn="validade">Data de Validade <p-sortIcon field="validade" /></th>
                <th pSortableColumn="fabricacao">Data de Fabricação <p-sortIcon field="fabricacao" />
                </th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
            <tr>
                <td>{{produto.nome}}</td>
                <td>{{produto.quantidade + " " + produto.medida}}</td>
                <td>{{produto.preco | currency: 'BRL': 'symbol'}}</td>
                <td>{{produto.validade | date: 'dd/MM/yyyy'}}</td>
                <td>{{produto.fabricacao | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <span class="p-buttonset">
                        <button type="button" pButton pRipple icon="pi pi-pencil"
                            (click)="editarProduto(produto)"></button>
                        <button type="button" class="p-button-danger" pButton pRipple icon="pi pi-trash"
                            (click)="deletarProduto(produto.id)"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>